.DS_Store
.idea
*.ai
*.log
*.pdf
*.sublime*
node_modules/
npm-debug.*
*.psd
*.docx
Thumbs.db
wp-includes/**/*
wp-**.php
readme.html
/wp-admin/**/*
/wp-content/plugins/**/*
/wp-content/uploads/**/*
/wp-content/upgrade/**/*
/wp-content/languages/**/*
# /wp-content/themes/**/*
/wp-content/themes/twentyfifteen/**/*
/wp-content/themes/twentyseventeen/**/*
/wp-content/themes/twentysixteen/**/*
/wp-content/themes/index.php
/wp-content/themes/ogonek-theme/assets/slider/**/*
/wp-content/themes/ogonek-theme/assets/img
/wp-content/themes/ogonek-theme/assets/css
/wp-content/themes/ogonek-theme/menu/**/*
/wp-content/themes/ogonek-theme/leclick/**/*
