.contacts {
  // background-color: #000000;
  background-image: url('/img/others/textureBottom.png');
  margin-top: 40px;
}

.contacts__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contacts__social-key {
  width: 120px;
  text-align: center;
}
