.copyright {
  min-height: 80px;
  background-color: $bgcMain;
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyright__text {
  text-align: center;
}

.copyright__text br {
  @include tablet {
    display: none;
  }
}
