.dishes {
  margin-bottom: 60px;
  z-index: 1;

  @include tablet {
    // min-height: 413px;
    margin-bottom: 100px;
  }

  @include realdt {
    margin-bottom: 160px;
  }
}

.dishes__inner {
  background-color: $sectionBgc;
  min-height: 300px;
  position: relative;
  z-index: 2;
  margin: 0 auto;

  @include realdt {
    max-width: 980px;
  }
}
