// Fonts
$din: "DIN", "Arial", sans-serif;
$ms100: "Museo Sans Cyrl 100", "Arial", sans-serif;
$ms300: "Museo Sans Cyrl 300", "Arial", sans-serif;

// Viewports
$mobile-width: 320px;
$mdmobile-width: 420px;
$bgmobile-width: 480px;
$tablet-width: 768px;
$laptop-width: 1024px;
$works-width: 1116px;
$realdt-width: 1220px;
$desktop-width: 1440px;

// Pixel density
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// Gutters
$mobile-pads: 16px;
$tablet-pads: 25px;
$laptop-pads: 45px;
$desktop-pads: 108px;

// Main Colors
$bgcMain: rgb(14, 13, 12); //#0e0d0c;
$sectionBgc: rgb(26, 24, 23); //#1a1817
$headerBgc: rgb(11, 10, 10); //#0b0a0a
$warm-grey: rgb(157, 145, 140); //#9d918c
